appdirs==1.4.4
argon2-cffi==20.1.0
asgiref==3.3.1
astroid==2.4.2
async-generator==1.10
attrs==20.3.0
autopep8==1.5.5
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.2.1
bokeh==2.2.3
boto3==1.17.1
botocore==1.20.1
branca==0.4.2
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
colorama==0.4.4
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
Django==3.1.5
django-filter==2.4.0
django-storages==1.11.1
docutils==0.16
entrypoints==0.3
filelock==3.0.12
flake8==3.9.0
Flask==1.1.2
Flask-SQLAlchemy==2.4.4
folium==0.12.0
geographiclib==1.50
geopy==2.1.0
gunicorn==20.0.4
html5lib==1.1
idna==2.10
jedi==0.18.0
Jinja2==2.11.2
jmespath==0.10.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.11
jupyter-console==6.2.0
jupyter-core==4.7.0
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
Pillow==8.1.0
prometheus-client==0.9.0
prompt-toolkit==3.0.10
protobuf==3.14.0
psycopg2==2.8.6
pycodestyle==2.7.0
pycparser==2.20
pyflakes==2.3.0
Pygments==2.7.4
pylint==2.6.0
pyparsing==2.4.7
SQLAlchemy==1.3.22
sqlparse==0.4.1
urllib3==1.26.2
virtualenv==20.4.0
whitenoise==5.2.0
widgetsnbextension==3.5.1
wrapt==1.12.1
xlrd==2.0.1
